<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest | Feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <a
          href="https://plus.unsplash.com/premium_photo-1678189496886-0e568e51601b?q=80&w=1180&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
          <img
            src="https://plus.unsplash.com/premium_photo-1678189496886-0e568e51601b?q=80&w=1180&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://images.pexels.com/photos/14426316/pexels-photo-14426316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        >
          <img
            src="https://images.pexels.com/photos/14426316/pexels-photo-14426316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://images.pexels.com/photos/19077915/pexels-photo-19077915/free-photo-of-woman-posing-in-front-of-illuminated-skyscraper-at-night.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        >
          <img
            src="https://images.pexels.com/photos/19077915/pexels-photo-19077915/free-photo-of-woman-posing-in-front-of-illuminated-skyscraper-at-night.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://images.pexels.com/photos/11867931/pexels-photo-11867931.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"
        >
          <img
            src="https://images.pexels.com/photos/11867931/pexels-photo-11867931.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="app.js"></script>
  </body>
</html>
